<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
    <!-- django utility to load static css file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>
    <div class="container">
        <div class="form login">
            <header>Login</header>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="username" class="username" value="{{ form.username.value }}" />
                <div class="error-message">{{ form.username.errors }}</div>
                <input type="password" name="password" class="password" />
                <div class="error-message">{{ form.password.errors }}</div>
                <a href="#">Forgot password?</a>
                <input type="submit" class="button" value="Login" />
            </form>
            <div class="switch">
                <span>Don't have an account?</span>
                <label for="check"><a href="{% url 'register' %}">Signup</a></label>
            </div>
        </div>
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
